@keyframes slideheader {
  from {
    transform: translateY(-55px);
  }

  to {
    transform: translateY(0);
  }
}

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Шапка */
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

.header-menu {
  display: none;
  width: 100%;
  align-items: center;
  padding-left: 10px;
}

.header-menu-item {
  padding: 0 12px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: rgb(52,52,52);
}

.header.collapse {
  position: fixed;
  top: 0;
  left: 0;
  height: 55px;
  background: #fff;
  z-index: 999;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

.header.collapse {
  animation-duration: 300ms;
  animation-name: slideheader;
}

.header.collapse .header-logo {
  min-width: 150px;
  min-height: 50px;
  max-width: 150px;
  max-height: 50px;
  width: 150px;
  height: 50px;
  background: url('../../../assets/img/logo.png') no-repeat 20px 5px;
  background-size: contain;
}

.header.collapse .header-menu {
  display: flex;
}

.header.collapse .contact-phone-panel,
.header.collapse .contact-addr-panel {
  display: none;
}

.header.collapse .border-icon-primary {
  border: none
}

.header.collapse .login-panel {
  margin: 0 15px 0 10px;
}

.header.collapse .login-button {
  border: none;
  font-size: 16px;
}

.header-logo {
  width: 220px;
  height: 80px;
  background: url('../../../assets/img/logo.png') no-repeat 20px 10px;
}

.contacts-panel {
  display: flex;
}

.contact-phone-panel,
.contact-addr-panel {
  display: flex;
}

.contact-addr-panel {
  margin-left: 30px;
}

.phone-icon-panel,
.addr-icon-panel {
  display: flex;
  align-items: center;
  width: 40px;
}

.round-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  height: 40px;
  border-radius: 100%;
  box-sizing: border-box;
}

.border-icon-primary {
  border: 3px solid #b7007a;
}

.phone-icon-img {
  width: 20px;
  height: 20px;
  background: url('../../../assets/svg/icons/phone-icon.svg') no-repeat;
}

.addr-icon-img {
  width: 20px;
  height: 20px;
  background: url('../../../assets/svg/icons/home-icon.svg') no-repeat;
}

.phone-label-panel,
.addr-label-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
  text-align: right;
  font-size: 15px;
}

.phone-one-label,
.phone-two-label,
.phone-three-label,
.addr-one-label,
.addr-two-label,
.addr-three-label {
  font-family: "PT Sans";
  font-weight: bold;
  font-size: 16px;
}

.phone-three-label,
.addr-three-label {
  color: #aaa;
}

.contact-social-panel {
  display: flex;
  align-items: center;
  margin-left: 35px;
}

.inst-icon-button {
  margin: 0 7px;
}

.vk-icon {
  width: 20px;
  height: 20px;
  background: url('../../../assets/svg/icons/vk-icon.svg') no-repeat;
}

.inst-icon {
  width: 20px;
  height: 20px;
  background: url('../../../assets/svg/icons/inst-icon.svg') no-repeat;
}

.fb-icon {
  width: 20px;
  height: 20px;
  background: url('../../../assets/svg/icons/fb-icon.svg') no-repeat;
}

.menu-button {
  display: none;
  align-items: center;
  margin-right: 15px;
  cursor: pointer;
}

.menu-icon {
  width: 20px;
  height: 20px;
  background: url('../../../assets/svg/icons/menu-icon.svg') no-repeat;
}

.login-panel {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.login-button {
  border-radius: 7px;
  border: 3px solid #b7007a;
  padding: 7px 15px;
  color: #b7007a;
  font-weight: 600;
  cursor: pointer;
}

/* Меню */
.menu {
  display: flex;
  width: 100%;
  height: 45px;
  background: #b7007a;
  padding-left: 10px;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .menu {
    display: none;
  }
}

.menu-item {
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

/* Полоса */
.band {
  width: 100%;
  height: 15rem;
  background: url('../../../assets/img/band.jpg') no-repeat;
  background-size: cover;
}

.title-label {
  margin-top: 2rem;
  font-size: 32px;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  color: rgb(51,51,51);
}

.subtitle-label {
  font-family: "PT Sans";
  font-size: 20px;
  font-style: italic;
  width: 100%;
  padding: 15px 20px 0 20px;
  text-align: center;
  color: rgb(106, 106, 106);
}

.divider-line {
  display: flex;
  justify-content: center;
  width: 100%;
}

.divider-line div {
  margin: 25px 0;
  width: 100px;
  border-top: 1px solid rgb(106,106,106);
}

.about-school-text {
  background: #83c2d5;
  padding: 40px 50px;
  font-size: 16px;
}

.hello-label {
  font-size: 28px;
  font-weight: 500;
}

.about-school-photo-wrapper {
  background: #83c2d5;
}

.about-school-photo-xs {
  display: none;
}

.lesson-filter-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.lesson-filter-button {
  display: flex;
  align-items: center;
  height: 40px;
  background: #ccc;
  color: #fff;
  padding: 7px 25px;
  text-transform: uppercase;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 10px;
}

.lesson-filter-button.active {
  background: #83c2d5;
}

.lesson-items-panel {
  margin-top: 15px;
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.lesson-item-panel {
  padding-right: 7.5px !important;
  padding-left: 7.5px !important;
}

.lesson-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border: 1px solid #c6c6cc;
  background: #eaeaea;
}

.lesson-photo {
  width: 100%;
}

.lesson-description {
  display: none;
}

.lesson-photo-wrapper {
  position: relative;
}

.lesson-photo-wrapper:hover .lesson-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: rgba(55,55,76,0.6);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 10px;
  font-weight: 600;
  line-height: 1.7;
}

.lesson-date {
  color: #777;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.lesson-name {
  margin-top: 10px;
  color: #7b7b7b;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.lesson-price {
  margin-top: 10px;
  text-align: center;
  color: #b7007a;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.lesson-join-button-panel {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.lesson-join-button {
  height: 50px;
  text-transform: uppercase;
  border: 3px solid #b7007a;
  padding: 10px 25px;
  text-align: center;
  border-radius: 7px;
  color: #b7007a;
  cursor: pointer;
  font-weight: bold;
}

.lesson-join-button:hover {
  background-color: #b7007a;
  color: #fff;
}

.lessons-more-btn-panel {
  display: flex;
  justify-content: center;
  width: 100%;
}

.lessons-more-btn {
  height: 45px;
  padding: 10px 40px;
  background-color: #b7007a;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  cursor: pointer;
}

.lessons-more-btn:hover {
  opacity: 0.8;
}

.advantage-column {
  margin-top: 20px;
}

.advantage-image {
  display: flex;
  justify-content: center;
}

.advantage-title {
  margin-top: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.advantage-description {
  text-align: center;
  margin-top: 10px;
  font-size: 15px;
}

.photo-gallery {
  width:100%;
  max-width:100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vw;
  max-height: 800px;
  font-size: 0;
  overflow: hidden;
}
.photo-gallery img {
  width: 25%;
  transition: .8s opacity;
  cursor: pointer;
}

.photo-gallery:hover img { opacity: 0.3; }
.photo-gallery:hover img:hover { opacity: 1; }

/* fallback for earlier versions of Firefox */

@supports not (flex-wrap: wrap) {
  .photo-gallery { display: block; }
  .photo-gallery img {
    display: inline-block;
    vertical-align: top;
  }
}

ks-modal-gallery/deep/.plain-container {
  display: none;
}

.review-item {
  background: #83c2d5;
  color: #000;
  height: 130px;
  align-items: center;
  display: flex;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding: 0 20px;
}

.review-item.review-odd {
  background: #393778;
  color: #fff;
}

.five-years-panel {
  background: #83c2d5;
  overflow: hidden;
}

.contacts-panel .form-control {
  outline: none;
  box-shadow: none;
}

.contacts-addr-label {
  text-align: center;
  font-size: 16px;
  margin-bottom: 18px;
}

.contacts-map-container-wrapper {
  width: 100%;
  height: 100%;
}

#contacts-map-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.msg-area {
  min-height:300px;
  resize: none;
}

.send-message-btn {
  height: 45px;
  padding: 10px 0;
  text-align: center;
  background-color: #b7007a;
  color: #fff;
  text-transform: uppercase;
  margin: 15px 0 15px 15px;
  font-size: 15px;
}

.footer-panel {
  margin-top: 15px;
}

.footer-logo {
  min-width: 150px;
  min-height: 50px;
  max-width: 150px;
  max-height: 50px;
  width: 150px;
  height: 50px;
  background: url('../../../assets/img/logo-footer.png') no-repeat 20px 5px;
  background-size: contain;
}

.footer-contacts-panel {
  width: 100%;
  height: 200px;
  background-color: #eaeaea;
}

.footer-logo-wrapper {
  display: flex;
}

.footer-rights-panel {
  width: 100%;
  height: 75px;
  background-color: #393778;
  color: #fff;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.footer-social-buttons {
  display: flex;
  margin-right: 20px;
}

.footer-vk-icon {
  width: 25px;
  height: 25px;
  background: url('../../../assets/svg/icons/footer-vk-icon.svg') no-repeat;
}

.footer-inst-icon {
  width: 25px;
  height: 25px;
  background: url('../../../assets/svg/icons/footer-inst-icon.svg') no-repeat;
}

.footer-fb-icon {
  width: 25px;
  height: 25px;
  background: url('../../../assets/svg/icons/footer-fb-icon.svg') no-repeat;
}

.footer-inst-icon-button {
  margin: 0 15px 0 20px;
}



/* Media */
@media (max-width: 576px) {
  .header {
    height: 50px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
    z-index: 10;
  }
  .header-logo {
    min-width: 140px;
    min-height: 40px;
    max-width: 140px;
    max-height: 40px;
    width: 140px;
    height: 40px;
    background: url('../../../assets/img/logo.png') no-repeat 20px 5px;
    background-size: contain;
  }
  .login-panel {
    display: none;
  }

  .menu-button {
    display: flex;
    margin-left: 15px;
  }

  .round-icon {
    width: 30px;
    min-width: 30px;
  }

  .border-icon-primary {
    border: none;
  }
  .band {
    background: url('../../../assets/img/band-xs.jpg') no-repeat !important;
    background-size: cover !important;
    height: 9rem;
  }
}

@media (max-width: 768px) {
  .about-school-photo {
    height: 100%;
    margin-top: 50px;
  }
  .band {
    background: url('../../../assets/img/band-sm.jpg') no-repeat;
    background-size: cover;
  }
  .title-label {
    font-size: 24px !important;
    padding: 0 20px;
    font-weight: 500;
  }
  .subtitle-label {
    font-size: 17px;
  }
  .about-school-photo-xs {
    margin-top: 50px;
    display: block;
  }
  .about-school-photo-md {
    display: none;
  }
  .about-school-text {
    font-size: 17px;
  }
  .hello-label {
    text-align: center;
    font-size: 24px;
  }
  .hello-divider-line {
    justify-content: center !important;
  }
}

@media (max-width: 992px) {
  .title-label {
    font-size: 26px;
  }
  .contacts-panel .row {
    margin-left: 0 !important;
  }
  .contacts-map-container-wrapper {
    height: 400px;
  }

  .send-msg-form-panel .col {
    padding-left: 0;
  }

  .send-message-btn {
    margin-left: 0;
  }
}

@media (min-width: 992px) {
  .contacts-panel {
    max-height: 640px;
  }

  .send-msg-form-panel .col {
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 55px;
  }
  .header-logo {
    min-width: 150px;
    min-height: 50px;
    max-width: 150px;
    max-height: 50px;
    width: 150px;
    height: 50px;
    background: url('../../../assets/img/logo.png') no-repeat 20px 5px;
    background-size: contain;
  }
  .header.collapse .header-menu {
    display: none;
  }
  .header.collapse .menu-button {
    display: flex;
  }
  .border-icon-primary {
    border: none
  }
  .login-panel {
    margin: 0 15px 0 10px;
  }

  .login-button {
    border: none;
    font-size: 16px;
  }
  .contact-phone-panel,
  .contact-addr-panel {
    display: none;
  }

  .contact-social-panel {
    margin-right: 0;
  }
  .band {
    background: url('../../../assets/img/band-md.jpg') no-repeat;
    background-size: cover;
  }
}

@media (min-width: 1200px) {
}
