
<div class="modal-overlay-spinner" *ngIf="isLoading">
  <span class="fa fa-spinner fa-spin fa-3x"></span>
</div>

<!--==========================
  Header
  ============================-->
<header id="header" [ngClass]="{ 'header-fixed': isHeaderCollapse || isOpenedMobileMenu, 'menu-opened': isOpenedMobileMenu }">
  <div class="fluid-container">

    <div id="logo" class="pull-left">
      <a href="#">
        <img class="logo-md" src="../../../assets/img/logo-white.png" alt="" />
        <img class="logo-sm" src="../../../assets/img/logo-white-sm.png" alt="" />
      </a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li><a href="#about" pageScroll [pageScrollOffset]="70" [pageScrollDuration]="1500" [pageScrollEasing]="easing">О нас</a></li>
        <li><a href="#events" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="1500" [pageScrollEasing]="easing">Занятия</a></li>
        <li><a href="#photos" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="1500" [pageScrollEasing]="easing">Фото с занятий</a></li>
        <li><a href="#reviews" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="1500" [pageScrollEasing]="easing">Отзывы</a></li>
        <li><a href="#five-years" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="1500" [pageScrollEasing]="easing">5 лет</a></li>
        <li><a href="#contacts" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="1500" [pageScrollEasing]="easing">Контакты</a></li>
      </ul>
      <button type="button" id="mobile-nav-toggle" (click)="onExpandMobileMenu($event)" (panstart)="onExpandMobileMenu($event)"><i id="mobile-nav-toggle-icon" class="fa fa-bars"></i></button>
    </nav><!-- #nav-menu-container -->

    <div id="login-button">
      <div class="login-button-label" (click)="openLoginModal()" *ngIf="!isAuth()">Личный кабинет</div>
      <div class="login-button-icon" (click)="openLoginModal()" *ngIf="!isAuth()"></div>
      <div class="logout-button-icon" (click)="logout()" *ngIf="isAuth()"></div>
      <div class="logout-button-label" (click)="logout()" *ngIf="isAuth()">Выйти</div>
    </div>

    <div id="nav-social-buttons">
      <a class="nav-social-button vk-icon"></a>
      <!--<a class="nav-social-button fb-icon"></a>-->
      <a href="https://www.instagram.com/risuempermcom" target="_blank" class="nav-social-button inst-icon"></a>
    </div>
  </div>
</header><!-- #header -->

<div id="mobile-menu" [ngClass]="{ opened: isOpenedMobileMenu }">
  <div class="mobile-menu-item"><a href="#about" pageScroll [pageScrollOffset]="70" [pageScrollDuration]="1500" [pageScrollEasing]="easing">О нас</a></div>
  <div class="mobile-menu-item"><a href="#events" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="1500" [pageScrollEasing]="easing">Занятия</a></div>
  <div class="mobile-menu-item"><a href="#photos" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="1500" [pageScrollEasing]="easing">Фото с занятий</a></div>
  <div class="mobile-menu-item"><a href="#reviews" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="1500" [pageScrollEasing]="easing">Отзывы</a></div>
  <div class="mobile-menu-item"><a href="#five-years" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="1500" [pageScrollEasing]="easing">5 лет</a></div>
  <div class="mobile-menu-item"><a href="#contacts" pageScroll [pageScrollOffset]="100" [pageScrollDuration]="1500" [pageScrollEasing]="easing">Контакты</a></div>
  <div class="mobile-menu-item"><a href="#" (click)="openLoginModal()" *ngIf="!isAuth()">Личный кабинет</a></div>
  <div class="mobile-menu-item"><a href="#" (click)="logout()" *ngIf="isAuth()">Выйти</a></div>
  <div class="mobile-menu-social-buttons">
    <a class="mobile-menu-social-button vk-icon"></a>
    <!--<a class="mobile-menu-social-button fb-icon"></a>-->
    <a href="https://www.instagram.com/risuempermcom" target="_blank" class="mobile-menu-social-button inst-icon"></a>
  </div>
</div>

<!--==========================
    Hero Section
  ============================-->
<section id="hero">
  <div class="hero-container">
    <h1>Школа креатива</h1>
    <h2>Здесь Вы за 1 день научитесь рисовать, даже если никогда раньше не брали кисточку в руки</h2>
    <a href="#about" class="btn-get-started" pageScroll [pageScrollOffset]="70" [pageScrollDuration]="1500" [pageScrollEasing]="easing">Узнать подробнее</a>
  </div>
</section><!-- #hero -->

<!--==========================
  About Us Section
============================-->
<section id="about">
  <div class="container">
    <div class="row about-container">
      <div class="col-lg-6 content order-lg-1 order-2">
        <h2 class="title">О нашей школе</h2>
        <p>
          Школа креатива специализируется на обучении рисованию начинающих с нуля.
          Вы можете написать красивую картину <b>уже на первом занятии!</b>
          Для достижения такого впечатляющего результата используется <b>уникальный метод.</b>
          <br><br>
          В Москве метод преподается 7 лет, руководитель школы <b>Павел Сивков.</b>
          В Перми тренинги ведет единственный сертифицированный
          тренер школы <b>Маргарита Заборских.</b>
          Каждым участником выполняется 7, 8 живописных работ разными техниками на занятиях "правополушарного рисования", а на наших мастер-классах есть возможность нарисовать большую работу на холсте.
        </p>
      </div>
      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight">
        <iframe width="100%" height="370" src="https://www.youtube.com/embed/UKvwGRh7puw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section><!-- #about -->

<!--==========================
  Events Section
============================-->
<section id="events">
  <div class="container">
    <div class="row events-container">
      <div class="col content">
        <h2 class="title"><span>наши занятия</span><span class="add-event add-button" *ngIf="isAuth()" (click)="openAddEventModal()">Добавить</span></h2>
        <h3 class="subtitle">Независимо от темы, указанной в расписании,
          вы всегда можете выбрать свой сюжет и время для занятий.<br>
          Продолжительность занятий 3.5 - 4.5 часа,
          все материалы предоставляются, предлагаются чай, кофе
        </h3>
        <div class="divider-line">
          <div></div>
        </div>
        <div class="event-filter-buttons">
          <div class="event-filter-button active" [ngClass]="{ active: (eventCategory === 1) }" (click)="onChangeEventCategory(1)">для взрослых</div>
          <div class="event-filter-button" style="margin: 10px 10px 0 10px" [ngClass]="{ active: (eventCategory === 2) }" (click)="onChangeEventCategory(2)">для детей</div>
          <div class="event-filter-button" [ngClass]="{ active: (eventCategory === 3) }" (click)="onChangeEventCategory(3)">мастер классы</div>
        </div>
      </div>
      <div class="event-items-panel container-fluid">
        <div class="row justify-content-center">
          <div class="event-item-panel col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let event of events">
            <div class="remove-icon-button" *ngIf="isAuth()" (click)="onRemoveEvent(event.id)">
              <div class="remove-icon"></div>
            </div>
            <div class="event-item">
              <div class="event-photo-wrapper">
                <img class="event-photo" src="{{getEventPhotoUrl(event.id)}}">
                <div class="event-description">{{event.description}}</div>
              </div>
              <div class="event-info-wrapper">
                <div>
                  <div class="event-date">{{event.date}}</div>
                  <div class="event-name">{{event.title}}</div>
                  <div class="event-price">{{event.price}}</div>
                </div>
                <div class="event-join-button-panel">
                  <div class="event-join-button" (click)="openJoinEventModal(event)">записаться</div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!events || events.length === 0" style="font-size: 18px; font-weight: bold; margin-top: 20px;">Занятий нет</div>
        </div>
      </div>
      <div class="event-more-btn-panel" *ngIf="hasMoreEvents()">
        <div class="event-more-btn" (click)="showMoreEvents()">показать еще</div>
      </div>
    </div>
  </div>
</section><!-- #events -->

<!--==========================
  Advantages Section
============================-->
<section id="advantages">
  <div class="container">
    <div class="row advantages-container">
      <div class="col content">
        <h2 class="title">чем мы отличаемся от других</h2>
        <div class="divider-line">
          <div></div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="advantage-column col-md-4">
              <div class="advantage-image">
                <img src="../../../assets/img/palette.png" style="width: 131px; height: 131px; margin: 10px 0 10px 45px;">
              </div>
              <div class="advantage-title">Уникальный метод обучения рисованию</div>
              <div class="advantage-description">В основе метода – уникальные
                техники рисования,
                позволяющие активизировать
                творческую часть мозга,
                уже через 30 минут тренинга
                Вы увидите <b>результат!</b></div>
            </div>
            <div class="advantage-column col-md-4">
              <div class="advantage-image">
                <img src="../../../assets/img/peoples.png">
              </div>
              <div class="advantage-title">Подходит для всех возрастов</div>
              <div class="advantage-description">Занятия для тех, кто еще не осуществил мечту
                научиться рисовать, для бизнесменов и дизайнеров,
                учителей и врачей, для взрослых и детей!

                Возраст участников от 7 до 75 лет.</div>
            </div>
            <div class="advantage-column col-md-4">
              <div class="advantage-image">
                <img src="../../../assets/img/materials.png" style="width: 121px; height: 121px; margin: 15px 0 15px 15px;">
              </div>
              <div class="advantage-title">Все материалы включены в стоимость</div>
              <div class="advantage-description">На занятия в школу креатива ничего приносить
                с собой не нужно. Обеспечиваем вас
                кистями, красками, карандашами и т.д.
                Также в стоимость курсов рисования
                входит кофе-брейк.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #advantages -->

<!--==========================
  Photos Section
============================-->
<section id="photos">
  <div class="container">
    <div class="row photos-container">
      <div class="col content">
        <h2 class="title"><span>фото с занятий</span><span class="add-photo add-button" *ngIf="isAuth()" (click)="openAddPhotoModal()">Добавить</span></h2>
        <div class="divider-line">
          <div></div>
        </div>
        <!--<ks-modal-gallery [id]="9" [modalImages]="images" [currentImageConfig]="{ description: customDescription }"></ks-modal-gallery>-->
        <!--<masonry-layout
          [max-height]="250"
          [gutter]="4"
          [images]="myImages"></masonry-layout>-->
        <div *ngIf="!images || images.length === 0" style="font-size: 18px; font-weight: bold; margin-top: 20px; text-align: center">Фотографий нет</div>

        <ngx-masonry [options]="masonryOptions" [useImagesLoaded]="true">
          <ngxMasonryItem *ngFor="let picture of images; let i = index" class="masonry-item">
            <div class="remove-icon-button" *ngIf="isAuth()" (click)="onRemovePhoto(picture.id)">
              <div class="remove-icon"></div>
            </div>
            <img src="{{picture.modal.img}}" (click)="onClickPhoto(i)">
          </ngxMasonryItem>
        </ngx-masonry>

        <ks-modal-gallery [id]="1" [modalImages]="images" [currentImageConfig]="{ description: customDescription }"></ks-modal-gallery>

        <div class="photos-more-btn-panel" *ngIf="hasMoreImgs()">
          <div class="photos-more-btn" (click)="showMoreImgs()">показать еще</div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #photos -->

<!--==========================
  Reviews Section
============================-->
<section id="reviews">
  <div class="container">
    <div class="row reviews-container">
      <div class="col content">
        <h2 class="title"><span>отзывы</span><span class="add-review add-button" *ngIf="isAuth()" (click)="openAddReviewModal()">Добавить</span></h2>
        <div class="divider-line">
          <div></div>
        </div>
        <div class="reviews-panel container-fluid">
          <div *ngIf="!reviews || reviews.length === 0" style="font-size: 18px; font-weight: bold; margin-top: 20px; text-align: center">Отзывов нет</div>
          <ng-container *ngFor="let review of reviews; let i = index">
            <ng-template [ngIf]="i % 2 === 0" [ngIfElse]="evenReviewTmpl">
              <div class="row mt15">
                <div class="review-item review-odd col-md-7">
                  <div class="remove-icon-button" *ngIf="isAuth()" (click)="onRemoveReview(review.id)">
                    <div class="remove-icon"></div>
                  </div>
                  <div>{{ review.text }}</div>
                </div>
              </div>
            </ng-template>
            <ng-template #evenReviewTmpl>
              <div class="row justify-content-end mt15">
                <div class="review-item col-md-7">
                  <div class="remove-icon-button" *ngIf="isAuth()" (click)="onRemoveReview(review.id)">
                    <div class="remove-icon"></div>
                  </div>
                  <div>{{ review.text }}</div>
                </div>
              </div>
            </ng-template>
          </ng-container>
        </div>
        <div class="reviews-more-btn-panel" *ngIf="hasMoreReviews()">
          <div class="reviews-more-btn" (click)="showMoreReviews()">показать еще</div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #reviews -->

<!--==========================
  Five Years Section
============================-->
<section id="five-years">
  <div class="fluid-container">
    <div class="row five-years-container no-gutters">
      <div class="col content no-padding-lr">
        <h2 class="title">5 лет нашей школе</h2>
        <div class="divider-line">
          <div></div>
        </div>
        <div class="five-years-panel">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-6" style="margin: 0 15px">
              <iframe width="100%" height="370" src="https://www.youtube.com/embed/J23W5fQlQ_A?ecver=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <!--<img class="col-md-6 img-fluid" src="../../../assets/img/five-years2.jpg">-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #five-years -->


<!--==========================
  Contacts Section
============================-->
<section id="contacts">
  <div class="fluid-container">
    <div class="row contacts-container no-gutters">
      <div class="col content">
        <div class="contacts-panel container-fluid">
          <div class="row" style="width: 100%">
            <div class="contacts-addr-panel col-lg-6 d-flex flex-column">
              <div class="title">НАШЕ РАСПОЛОЖЕНИЕ</div>
              <div class="divider-line">
                <div></div>
              </div>
              <div class="contacts-addr-label">
                Пермь, Екатерининская, 122, офис 101, этаж 11<br>
                (Манхеттен. Апартаменты)</div>
              <div class="contacts-map-container-wrapper d-flex">
                <div id="contacts-map-container"></div>
              </div>
            </div>
            <div class="send-msg-form-panel col-lg-6 d-flex flex-column">
              <div class="title">ОСТАЛИСЬ ВОПРОСЫ ?</div>
              <div class="divider-line">
                <div></div>
              </div>
              <div style="text-align: center">ЗАПОЛНИТЕ ЭТУ ФОРМУ ИЛИ ЗВОНИТЕ <br><b>+7 (342) 277-50-74, +7 (342) 293-13-22</b><br>
                МЫ С УДОВОЛЬСТВИЕМ ВАМ ПОМОЖЕМ!</div>
              <form>
                <div class="row mt15">
                  <div class="col">
                    <input type="email" class="form-control" name="feedbackEmailField" placeholder="E-mail" [(ngModel)]="modelFeedback.email">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" name="feedbackPhoneField" placeholder="Телефон" mask="+7 (999) 999-99-99" [(ngModel)]="modelFeedback.phone">
                  </div>
                </div>
                <div class="row mt15">
                  <div class="col">
                    <textarea class="msg-area form-control" name="feedbackQuestionField" placeholder="Ваш вопрос" [(ngModel)]="modelFeedback.question"></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="send-message-btn col" (click)="onSendFeedback()" [ngClass]="{ sending: isSending, disabled: isDisabledSendFeedbackBtn() }">
                    <span *ngIf="!isSending">ОТПРАВИТЬ</span>
                    <span *ngIf="isSending">ИДЕТ ОТПРАВКА...</span>
                    <i class="fa fa-spinner fa-spin" style="margin-left: 20px;" *ngIf="isSending"></i>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #contacts -->

<a href="#hero" pageScroll [pageScrollOffset]="0" [pageScrollDuration]="1500" [pageScrollEasing]="easing" class="back-to-top" [ngStyle]="{ display: (isHeaderCollapse) ? 'block' : 'none' }"><i class="fa fa-chevron-up"></i></a>

<!--<div class="footer-panel">
  <div class="footer-rights-panel">
    <div class="footer-logo-wrapper">
      <div class="footer-logo"></div>
    </div>
    <div class="footer-rights-label">© 2000 - 2018 Школа креатива</div>
    <div class="footer-social-buttons">
      <div class="footer-vk-icon-button">
        <div class="footer-vk-icon"></div>
      </div>
      <div class="footer-inst-icon-button">
        <div class="footer-inst-icon"></div>
      </div>
      <div class="footer-fb-icon-button">
        <div class="footer-fb-icon"></div>
      </div>
    </div>
  </div>
</div>-->
