
p-calendar/deep/input {
  height: 38px;
  padding: 6px;
  border: 1px solid #ced4da;
}

p-calendar/deep/input.ui-inputtext:enabled:hover:not(.ui-state-error) {
  border: 1px solid #ced4da
}

p-calendar/deep/input.ui-inputtext:enabled:focus:not(.ui-state-error),
p-calendar/deep/input.ui-inputtext:enabled:focus:not(.ui-state-error):hover {
  border-color: #b7007a;
}

p-calendar/deep/.ui-datepicker table td > a.ui-state-active {
  background-color: #b7007a;
  color: #fff;
}
