@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~npm-font-open-sans/open-sans.css';

html, body {
  display: flex;
  width: 100%;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  margin: 0;
}

.mt15 {
  margin-top: 15px;
}

.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}
