@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~npm-font-open-sans/open-sans.css';
@import "~pt-sans-cyrillic/index.css";

html, body {
  display: flex;
  width: 100%;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  color: #666666;
  margin: 0;
  -webkit-text-size-adjust: none;
}

.mt15 {
  margin-top: 15px;
}

.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}
