@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~npm-font-open-sans/open-sans.css';
@import "~pt-sans-cyrillic/index.css";
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

html, body {
  display: flex;
  width: 100%;
}

body {
  font-family: "Open Sans";
  font-size: 16px;
  color: #666666;
  margin: 0;
  -webkit-text-size-adjust: none;
}

.container{
  max-width: 2500px;
}

@media (min-width: 1500px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 2000px) {
  .container {
    padding: 0 30px;
  }
}

.mt15 {
  margin-top: 15px;
}

.no-padding-lr {
  padding-left: 0;
  padding-right: 0;
}

.modal-overlay-spinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.7);
  z-index: 999;
}

.modal-overlay-spinner .fa-spinner {
  color: #b7007a;
}

input[type="file"]:focus {
  outline: none;
}

.btn.btn-success {
  background-color: #b7007a;
  border-color: #b7007a;
}

.btn.btn-success:hover {
  background-color: rgb(217,0,145);
  border-color: rgb(217,0,145);
}

.close {
  color: #b7007a;
  opacity: 1;
}

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  color: rgb(217,0,145);
  outline: none;
}

.btn.btn-default {
  box-shadow: none;
  outline: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #b7007a;
}
